<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- <title>Title</title> -->
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <link rel="stylesheet" href="/bootstrap3.3.7/css/bootstrap.min.css">
    <script type="text/javascript" src="/bootstrap3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">
    <style>

    </style>
</head>

<body>
    <div class="container">
        <!-- nav -->
        <section id="page-header-panel">

        </section>

        <section id="page-header-panel-log">

        </section>

        <!-- home-page -->
        <section class="page-content-panel">

            <div style="padding: 0 40px;">
                <h6>What we have </h6>
                <h6 align="center">this is Ant Design story</h6>
                <p style="text-align: end;">for background applications</p>
            </div>

            <div class="well myAccount-page">
                <!-- myAccount-info -->
                <div class="myAccount-info-panel">
                    <h3>My Account</h3>
                    <div class="myAccount-info flex-wrap">
                        <div class="myAccount-info-left flex-wrap flex-direction-column" style="flex:2">
                            <img src="images/myAccount/avatar.png" alt="..." class="img-circle">
                            <button type="button" class="btn btn-default">Change picture</button>
                        </div>
                        <div class="myAccount-info-right flex-wrap"" style=" flex:4">
                            <form class="flex-wrap flex-between flex-direction-column">
                                <div class="form-group">
                                    <label for="firstName">First Name</label>
                                    <input type="text" class="form-control" id="inputFirstName" placeholder="FirstName">
                                </div>
                                <div class="form-group">
                                    <label for="lastName">Last Name</label>
                                    <input type="text" class="form-control" id="inputLastName" placeholder="LastName">
                                </div>
                                <div class="form-group">
                                    <label for="email">Email address</label>
                                    <input type="email" class="form-control" id="inputEmail" placeholder="Email">
                                </div>

                            </form>
                        </div>
                    </div>
                    <div class="flex-wrap flex-bottom">
                        <button type="button" class="btn btn-default">Edit</button>
                    </div>
                </div>

                <!-- product-group -->
                {% for title in list %}
                <section id="product-group-panel">
                    <div class="flex-wrap product-group flex-direction-column">
                        <div class="flex-wrap product-group-label flex-between flex-center">
                            <h3>{{ title }}</h3>
                            <span class="marker-more flex-wrap">More on sale</span>
                        </div>
                        <div class="flex-wrap product-image-group" style="padding: 20px 40px;">
                            <div class="flex-con product-image-item">
                                <a href="/product/123">
                                    <div class="thumbnail flex-con flex-wrap flex-middle">
                                        <img src="images/marker/picture.png" alt="...">
                                    </div>
                                    <div class="caption flex-wrap flex-middle">
                                        <h6>Thumbnail label</h6>
                                    </div>
                                </a>
                            </div>
                            <div class="flex-con product-image-item">
                                <a href="/product/123">
                                    <div class="thumbnail flex-con flex-wrap flex-middle">
                                        <img src="images/marker/picture.png" alt="...">
                                    </div>
                                    <div class="caption flex-wrap flex-middle">
                                        <h6>Thumbnail label</h6>
                                    </div>
                                </a>
                            </div>
                            <div class="flex-con product-image-item">
                                <a href="/product/123">
                                    <div class="thumbnail flex-con flex-wrap flex-middle">
                                        <img src="images/marker/picture.png" alt="...">
                                    </div>
                                    <div class="caption flex-wrap flex-middle">
                                        <h6>Thumbnail label</h6>
                                    </div>
                                </a>

                            </div>
                            <div class="flex-con product-image-item">
                                <a href="/product/123">
                                    <div class="thumbnail flex-con flex-wrap flex-middle">
                                        <img src="images/marker/picture.png" alt="...">
                                    </div>
                                    <div class="caption flex-wrap flex-middle">
                                        <h6>Thumbnail label</h6>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </section>

                {% endfor %}

                <!-- myAccount-info-detail -->
                <div class="myAccount-info-detail-panel">
                    <h3>My Delivery Address</h3>
                    <div class="myAccount-info-detail flex-wrap flex-middle"">
                        <form class=" flex-wrap flex-between flex-direction-column" style="width: 60%;">
                        <div class="form-group">
                            <label for="address">Address</label>
                            <input type="text" class="form-control" id="inputAddress" placeholder="">
                        </div>
                        <div class="form-group flex-wrap">
                            <div class="form-group-item flex-con">
                                <label for="streetNumber">Street Number</label>
                                <input type="text" class="form-control" id="inputStreetNumber" placeholder="">
                            </div>
                            <div class="form-group-item flex-con">
                                <label for="unitNumber">Unit Number</label>
                                <input type="text" class="form-control" id="inputUnitNumber" placeholder="">
                            </div>

                        </div>
                        <div class="form-group flex-wrap">
                            <div class="form-group-item flex-con">
                                <label for="suburb">Suburb</label>
                                <input type="text" class="form-control" id="inputSuburb" placeholder="">
                            </div>

                            <div class="form-group-item flex-con">
                                <label for="country">Country</label>
                                <input type="text" class="form-control" id="inputCountry" placeholder="">
                            </div>
                        </div>
                        <div class="form-group flex-wrap">
                            <div class="form-group-item flex-con">
                                <label for="state">State</label>
                                <input type="text" class="form-control" id="inputState" placeholder="">
                            </div>
                            <div class="form-group-item flex-con">
                                <label for="postCode">Postcode</label>
                                <input type="text" class="form-control" id="inputPostcode" placeholder="">
                            </div>
                        </div>

                        </form>
                    </div>
                    <div class="flex-wrap flex-bottom">
                        <button type="button" class="btn btn-default">Edit</button>
                    </div>
                </div>

            </div>
        </section>

        <!-- foot-page -->
        <section id="page-foot-panel">

        </section>



    </div>
    <script>
        $(document).ready(function () {
            $("#page-header-panel").load("pages/header.html");
            $("#page-header-panel-log").load("pages/headerLog.html");
            $("#page-foot-panel").load("pages/footer.html");
        });
    </script>
</body>

</html>