<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- <title>Title</title> -->
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <link rel="stylesheet" href="/bootstrap3.3.7/css/bootstrap.min.css">
    <script type="text/javascript" src="/bootstrap3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">
    <style>

    </style>
</head>

<body>
    <div class="container">
        <!-- nav -->
        <section id="page-header-panel">

        </section>

        <section id="page-header-panel-log">

        </section>

        <!-- home-page -->
        <section class="page-content-panel">
            <div class="home-page">
                <h4 align="center">What we have is more than you expected</h4>
                <p align="center">Ant Design, a design language for background applications, is refined by Ant UED Team
                </p>
                <p align="center"> Ant Design, a design language for background applications</p>
                <img src="/images/photo-wall.jpeg" class="img-responsive center-block" alt="Responsive image">
            </div>
        </section>

        <!-- foot-page -->
        <section id="page-foot-panel">

        </section>



    </div>
    <script>
        $(document).ready(function () {
            $("#page-header-panel").load("pages/header.html");
            $("#page-header-panel-log").load("pages/headerLog.html");
            $("#page-foot-panel").load("pages/footer.html");
        });
    </script>
</body>

</html>