<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- <title>Title</title> -->
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <link rel="stylesheet" href="bootstrap3.3.7/css/bootstrap.min.css">
    <script type="text/javascript" src="bootstrap3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
    <style>

    </style>
</head>

<body>
    <div style="height:100vh" class="container-fluid flex-wrap flex-center flex-middle">
        <div class="panel panel-default" style="width: 30%;">
            <div class="panel-heading">
                <h1 align="center" class="panel-title" style="padding: 10px;">Register</h1>
            </div>
            <div class="panel-body">
                <form class="form-horizontal submit-form" style="padding: 20px 20px 10px 20px;">
                    <div class="form-group has-success">
                        <label class="control-label" for="inputSuccess1">Input with success</label>
                        <input type="text" class="form-control" id="inputSuccess1" aria-describedby="helpBlock2">
                    </div>
                    <div class="form-group has-success">
                        <label class="control-label" for="inputWarning1">Input with warning</label>
                        <input type="text" class="form-control" id="inputWarning1">
                    </div>
                    <div class="form-group has-success">
                        <label class="control-label" for="inputError1">Input with error</label>
                        <input type="text" class="form-control" id="inputError1">
                    </div>
                    <button type="submit" class="btn btn-default" style="width: 100%;">Submit</button>
                </form>
            </div>
        </div>

    </div>
    <script>

    </script>
</body>

</html>