<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- <title>Title</title> -->
    <script type="text/javascript" src="/js/lib/jquery.min.js"></script>
    <link href="/css/bootstrap-4.3.1.css" rel="stylesheet" /> 
    <link rel="stylesheet" href="/css/style.css">
    <style>

    </style>
</head>

<body>

    {% include '../components/header.html' %}
    
    <div class="container" style="height:100vh">
        
        <!-- home-page -->
        <section class="page-content-panel" style="height:70%">

            <div class="well myAccount-page" style="height:100%;margin-bottom:0">
                <!-- myAccount-info -->
                <div class="myAccount-info-panel">
                    <h3>My Account</h3>
                    <div class="myAccount-info flex-wrap">
                        <div class="myAccount-info-left flex-wrap flex-direction-column" style="flex:2">
                            <img src="/images/avatar_img.jpg" alt="..." class="img-circle">
                        </div>
                        <div class="myAccount-info-right flex-wrap"" style=" flex:4">

                            <form>
                                <div class="form-group">
                                  <label for="exampleInputEmail1">Name</label>
                                  <input type="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                                </div>
                                <div class="form-group">
                                  <label for="exampleInputPassword1">Password</label>
                                  <input type="password" class="form-control" id="exampleInputPassword1">
                                </div>
                                
                                <button type="submit" style="margin-top: 10px;" class="btn btn-primary">Submit</button>
                              </form>

                        </div>
                    </div>
                    
                </div>

            
            </div>
        </section>

        {% include '../components/footer.html' %}

    </div>
    <script>
        
    </script>
</body>

</html>