<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- <title>Title</title> -->
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <link rel="stylesheet" href="/bootstrap3.3.7/css/bootstrap.min.css">
    <script type="text/javascript" src="/bootstrap3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">
    <style>

    </style>
</head>

<body>
    <div class="container">
        <!-- nav -->
        <section id="page-header-panel">

        </section>

        <section id="page-header-panel-log">

        </section>

        <!-- home-page -->
        <section class="page-content-panel">
            <div style="padding: 0 40px;">
                <h6>What we have </h6>
                <h6 align="center">this is Ant Design story</h6>
                <p style="text-align: end;">for background applications</p>
            </div>

            <div class="well marker-page">
                {% for title in list %}
                <section id="product-group-panel">
                    <div class="flex-wrap product-group flex-direction-column">
                        <div class="flex-wrap product-group-label flex-between flex-center">
                            <h3>{{ title }}</h3>
                            <span class="marker-more flex-wrap">More on sale</span>
                        </div>
                        <div class="flex-wrap product-image-group" style="padding: 20px 40px;">
                            <div class="flex-con product-image-item">
                                <a href="/product/123">
                                    <div class="thumbnail flex-con flex-wrap flex-middle">
                                        <img src="/images/marker/picture.png" alt="...">
                                    </div>
                                    <div class="caption flex-wrap flex-middle">
                                        <h6>Thumbnail label</h6>
                                    </div>
                                </a>
                            </div>
                            <div class="flex-con product-image-item">
                                <a href="/product/123">
                                    <div class="thumbnail flex-con flex-wrap flex-middle">
                                        <img src="/images/marker/picture.png" alt="...">
                                    </div>
                                    <div class="caption flex-wrap flex-middle">
                                        <h6>Thumbnail label</h6>
                                    </div>
                                </a>
                            </div>
                            <div class="flex-con product-image-item">
                                <a href="/product/123">
                                    <div class="thumbnail flex-con flex-wrap flex-middle">
                                        <img src="/images/marker/picture.png" alt="...">
                                    </div>
                                    <div class="caption flex-wrap flex-middle">
                                        <h6>Thumbnail label</h6>
                                    </div>
                                </a>

                            </div>
                            <div class="flex-con product-image-item">
                                <a href="/product/123">
                                    <div class="thumbnail flex-con flex-wrap flex-middle">
                                        <img src="/images/marker/picture.png" alt="...">
                                    </div>
                                    <div class="caption flex-wrap flex-middle">
                                        <h6>Thumbnail label</h6>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </section>

                {% endfor %}


            </div>
        </section>

        <!-- foot-page -->
        <section id="page-foot-panel">

        </section>



    </div>
    <script>
        $(document).ready(function () {
            $("#page-header-panel").load("pages/header.html");
            $("#page-header-panel-log").load("pages/headerLog.html");
            $("#page-foot-panel").load("pages/footer.html");
        });
    </script>
</body>

</html>