<footer class="footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-4">
            <img src="/images/logo.png">
            <p class="display-8">
              NEWS WORLD is your news, entertainment, music fashion website. We provide you with the latest breaking news and videos straight from the entertainment industry.
            </p>
        </div>
        <div class="col-lg-2">
            <p class="display-9">&nbsp About Us</p>
            <p class="display-6">&nbsp History</p>
            <p class="display-6">&nbsp Our Team</p>
            <p class="display-6"> &nbsp Contact</p>
        </div>
        <div class="col-lg-2">
            <p class="display-9">&nbsp Help</p>
            <p class="display-6">&nbsp Guide</p>
            <p class="display-6">&nbsp Policy</p>
            <p class="display-6"> &nbsp Privacy</p>
        </div>
        <div class="col-lg-4">
            <p class="display-6"></p>
        </div>
      </div> 
      <div class="row">
        <div class="col-lg-12 copyright">
              <p class="display-8">Copyright @2021 NewsWorld Inc.</p>
        </div>
      </div>  
            
</div>
</footer>