<section class="most-popular">
		   
    <div class="title">
       <h2>MOST POPULAR</h2>
    </div>
    
    <div class="owl-carousel owl-theme carousel">
       <div>
          
          <div class="weghiet">
             <div class="col-sm-4 col-md-4 pad">
                <img src="/images/inimgsmall.jpg" alt="inimgsmall">
             </div>
             <div class="col-sm-8 col-md-8 pad">
                <h4>TV host’s hand impaled on nail in failed magic trick</h4>
                <span class="post-date">Posted On July 22, 2016</span>
             </div>
          </div>
          
          <div class="weghiet">
             <div class="col-sm-4 col-md-4 pad">
                <img src="/images/inimgsmall2.jpg" alt="inimgsmall3">
             </div>
             <div class="col-sm-8 col-md-8 pad">
                <h4>Five ugly truths about Gilmore Girls </h4>
                <span class="post-date">Posted On December 22, 2016</span>
             </div>
          </div>
          
          <div class="weghiet">
             <div class="col-sm-4 col-md-4 pad">
                <img src="/images/inimgsmall3.jpg" alt="inimgsmall3">
             </div>
             <div class="col-sm-8 col-md-8 pad">
                <h4>One more time? Federer’s golden opportunity</h4>
                <span class="post-date">Posted On December 22, 2016</span>
             </div>
          </div>	 
       </div>
       <div>
          
          <div class="weghiet">
             <div class="col-sm-4 col-md-4 pad">
                <img src="/images/inimgsmall4.jpg" alt="inimgsmall">
             </div>
             <div class="col-sm-8 col-md-8 pad">
                <h4>Bullied by wedding guests over her dress</h4>
                <span class="post-date">Posted On July 22, 2016</span>	
             </div>
          </div>
          
          <div class="weghiet">
             <div class="col-sm-4 col-md-4 pad">
                <img src="/images/inimgsmall5.jpg" alt="inimgsmall3">
             </div>
             <div class="col-sm-8 col-md-8 pad">
                <h4>Winners and losers we didn't see coming </h4>
                <span class="post-date">Posted On December 22, 2016</span>  				
             </div>
          </div>
          
          <div class="weghiet">
             <div class="col-sm-4 col-md-4 pad">
                <img src="/images/inimgsmall6.jpg" alt="inimgsmall3">
             </div>
             <div class="col-sm-8 col-md-8 pad">
                <h4>Bishop calls for calm over PNG protests</h4>
                <span class="post-date">Posted On December 22, 2016</span>      				
             </div>
          </div>
    
       </div>
    </div>
    
 </section>
 <section class="latest-reviews">
    
    <div class="title">
       <h2>LATEST REVIEWS</h2>
    </div>
    
    <div class="owl-carousel owl-theme carousel">
       <div>
          
          <div class="weghiet">
             <div class="col-sm-4 col-md-4 pad">
                <img src="/images/inimgsmall7.jpg" alt="inimgsmall">
             </div>
             <div class="col-sm-8 col-md-8 pad">
                <h4>Peace on Eearth: a wonderful wish but no way</h4>
                <span class="star">
                   <ul>
                      <li class="star-color">★</i></li>
                      <li class="star-color">★</i></li>
                      <li class="star-color">★</i></li>
                      <li class="star-color">★</i></li>
                      <li class="star-color">★</i></li>
                   </ul>
                </span>
             </div>
          </div>
          
          <div class="weghiet">
             <div class="col-sm-4 col-md-4 pad">
                <img src="/images/inimgsmall8.jpg" alt="inimgsmall3">
             </div>
             <div class="col-sm-8 col-md-8 pad">
                <h4>Geting cheap airfare for last minute travel</h4>
                <span class="star">
                 <ul>
                    <li class="star-color">★</i></li>
                    <li class="star-color">★</i></li>
                    <li class="star-color">★</i></li>
                    <li>☆</li>
                    <li>☆</li>
                 </ul>
              </span>
             </div>
          </div>
         
          <div class="weghiet">
             <div class="col-sm-4 col-md-4 pad">
                <img src="/images/inimgsmall9.jpg" alt="inimgsmall3">
             </div>
             <div class="col-sm-8 col-md-8 pad">
                <h4>Fashion week: best design in the show</h4>
                <span class="star">
                 <ul>
                    <li class="star-color">★</i></li>
                    <li class="star-color">★</i></li>
                    <li class="star-color">★</i></li>
                    <li class="star-color">★</i></li>
                    <li>☆</li>
                 </ul>
              </span>
             </div>
          </div>
        
       </div>
       <div>
        
          <div class="weghiet">
             <div class="col-sm-4 col-md-4 pad">
                <img src="/images/inimgsmall10.jpg" alt="inimgsmall">
             </div>
             <div class="col-sm-8 col-md-8 pad">
                <h4>Healthy food vs. unhealthy food</h4>
                <span class="star">
                 <ul>
                    <li class="star-color">★</i></li>
                    <li class="star-color">★</i></li>
                    <li class="star-color">★</i></li>
                    <li>☆</li>
                    <li>☆</li>
                 </ul>
              </span>
             </div>
          </div>
          
          <div class="weghiet">
             <div class="col-sm-4 col-md-4 pad">
                <img src="/images/inimgsmall11.jpg" alt="inimgsmall3">
             </div>
             <div class="col-sm-8 col-md-8 pad">
                <h4>Real player one: agument reality </h4>
                <span class="star">
                 <ul>
                    <li class="star-color">★</i></li>
                    <li class="star-color">★</i></li>
                    <li class="star-color">★</i></li>
                    <li class="star-color">★</i></li>
                    <li>☆</li>
                 </ul>
              </span>
             </div>
          </div>
        
          <div class="weghiet">
             <div class="col-sm-4 col-md-4 pad">
                <img src="/images/inimgsmall12.jpg" alt="inimgsmall3">
             </div>
             <div class="col-sm-8 col-md-8 pad">
                <h4>Does UFO exist? Discovery from Scientists .</h4>
                <span class="star">
                 <ul>
                    <li class="star-color">★</i></li>
                    <li class="star-color">★</i></li>
                    <li class="star-color">★</i></li>
                    <li>☆</li>
                    <li>☆</li>
                 </ul>
              </span>
             </div>
          </div>

       </div>
    </div>
    
 </section>
 <section class="recent-comments">		  
    <div class="title">
       <h2>RECENT COMMENTS</h2>
    </div>
   
    <div class="owl-carousel owl-theme carousel">
       <div>
      
          <div class="weghiet">
             <div class="col-md-12 pad">
                <strong>Dean Garcia</strong> on Pedestrian seriously hurt in hit-run near The Parade.      							
             </div>
          </div>
      
          <div class="weghiet">
             <div class="col-md-12 pad">
                <strong>Hester Crawford</strong> on Man accused of bashing wife with baseball bat.      							
             </div>
          </div>
      
          <div class="weghiet">
             <div class="col-md-12 pad">
                <strong>Vice Cool</strong> on Biden scored a major legislative victory, but now comes the hard part.      							
             </div>
         </div>
      
          <div class="weghiet">
             <div class="col-md-12 pad">
                <strong>Fun Lee</strong> on Biden tried to reach out to North Korea and was ignored.      							
             </div>
          </div>
      
          <div class="weghiet">
             <div class="col-md-12 pad">
                <strong>Boolean Union</strong> on US gun sales broke records in 2020.      							
             </div>
          </div>
          
          <div class="weghiet">
             <div class="col-md-12 pad">
                <strong>Bill Bursh</strong> on Pedestrian seriously hurt in hit-run near The Parade.      							
             </div>
          </div>
          <div class="weghiet">
             <div class="col-md-12 pad">
                <strong>Anna Fox</strong> on Man accused of bashing wife with baseball bat.      							
             </div>
          </div>
          
       </div>
    </div>
    
 </section>